@tailwind base;
@tailwind components;
@tailwind utilities;


/* Default styles (Desktop view) */
.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  width: 62.5rem;
}

.note-input-container,
.note-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 61rem;
}

.note-input {
  width: 59rem;
  padding: 1rem;
  box-sizing: border-box;
}

.note-container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

/* Mobile view styles */
@media (max-width: 475px) {
  .hidden {
    display: none;
  }

  .lg\:hidden {
    display: block;
  }

  .lg\:flex {
    display: none;
  }

  .main-content {
    width: 100%;
    padding: 1rem;
  }

  .note-input-container {
    display: flex;
    flex-direction: column;
  }

  .note-input {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  .note-container {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }
}
