.banner-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#banner-img{
  height: 22rem;
}

#pn{
  font-weight: 900;
}

.main-content{
  background-color: #F7ECDC;
}